{% extends "base.html" %}
{% load component_tags static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">프로필 수정</h5>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">저장</button>
                    </form>
                </div>
            </div>
        </div>
{#        col-md-숫자 부분은 숫자가 커지면 차지하는 비율 커짐#}
        <div class="col-md-4">
            {% if user.image_url %}
                <img src="{{ user.image_url.url }}" alt="Profile Image" class="img-thumbnail" style="max-width: 100px;" title="업로드한 이미지">
            {% else %}
                <img src="{% static 'images/normal_image.png' %}" alt="Default Profile Image" class="img-thumbnail" style="max-width: 100px;" title="기본 이미지">
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
