{% load crispy_forms_tags %}

<div class="row py-5">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <div class="card">
            {% if form_title %}
                <div class="card-header">
                    {{ form_title }}
                </div>
            {% endif %}
            <div class="card-body">
                {% if form.helper %}
                    {% crispy form form.helper %}
                {% else %}
                    {% crispy form %}
                {% endif %}
                <div class="text-center mt-3">
                    <a href="{% url 'accounts:find_id' %}" class="btn btn-link">아이디 찾기</a>
                    <a href="{% url 'accounts:password_reset' %}" class="btn btn-link">비밀번호 찾기</a>
                </div>
            </div>
        </div>
    </div>
</div>