{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    {% include "_crispy_form.html" with form=form form_title=form_title %}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    var teamImageUrl = document.getElementById('id_team_image_url');
    if (teamImageUrl) {
        teamImageUrl.onchange = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('team_image_preview');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };
    }
});
</script>